@media (prefers-color-scheme: dark) {
  * {
    --main-bg-color: #1F1F1FFF;
    --main-fg-color: #F0F0F0FF;
  }
}

@media (not (prefers-color-scheme: dark)) {
  * {
    --main-bg-color: #F0F0F0FF;
    --main-fg-color: #1F1F1FFF;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::placeholder {
  color: #7F7F7FFF
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  font-size: 16px;
  padding: 1rem;
}

.search {
  display: flex;
  justify-content: center;
  margin: 0 1rem 1rem 1rem;
}

.search > input {
  width: 100%;
  font-size: 3rem;
  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
}

.symbols {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}

.symbols > * {
  border: 1px dashed var(--main-fg-color);
  border-radius: 10%;
  padding: 1rem;
  aspect-ratio: 1;
  text-align: center;
  line-height: 100%;
  min-height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-height: 80vh;
  transition: background 200ms linear;
}

.symbol {
  font-size: 6rem;
}

.symbol:hover {
  background-color: #F7B73322;
}

.symbol-clicked {
  font-size: 2rem;
  background-color: #B1E8B6FF;
}
