@media (prefers-color-scheme: dark) {
  * {
    --main-bg-color: #1f1f1fff;
    --main-fg-color: #f0f0f0ff;
    --border-color: #666666;
    --clicked-color: rgb(15, 85, 21);
    --hover-color: #f7b73322;
    --link-color: #0077cc;
    --placeholder-color: #7f7f7fff;
  }
}

@media (not (prefers-color-scheme: dark)) {
  * {
    --main-bg-color: #f0f0f0ff;
    --main-fg-color: #1f1f1fff;
    --border-color: #666666;
    --clicked-color: #b1e8b6ff;
    --hover-color: #f7b73322;
    --link-color: #0077cc;
    --placeholder-color: #7f7f7fff;
  }
}

* {
  --warning-fg-color: red;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::placeholder {
  color: var(--placeholder-color);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  font-size: 16px;
  padding: 1rem;
}

a {
  color: var(--link-color);
}

.search {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  max-width: 1200px;
}

.search > input {
  width: 100%;
  font-size: 3rem;
  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
}

.search > button {
  font-size: 3rem;
  margin-left: 0.5rem;
  padding: 0;
  text-align: center;
  width: 3.2rem;
}
.search > button#save_symbols {
  font-size: 1.8rem; /* Prevent the large disk icon to make the button bigger than the others */
}
.search > button.open {
  border-style: dashed;
}


.over#save_symbols {
  background-color: var(--hover-color);
}

.symbols {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
}

.symbols > span {
  text-align: center;
  font-size: 2.5rem;
  grid-column: 1 / -1;
}

.symbol {
  display: flex;
  flex-direction: column;
  container-type: inline-size;
  border: 1px dashed var(--border-color);
  border-radius: 10%;
  padding: 1rem;
  aspect-ratio: 1;
  text-align: center;
  min-height: 125px;
  max-height: calc(100vh - 8rem);
  max-width: calc(100vw - 2rem);
  justify-content: space-between;
  justify-self: normal;
  align-items: center;
  cursor: pointer;
  transition: background 200ms linear;
}

.symbol.drag {
    opacity: 0.4;
}

.symbol.over {
    border: 1px solid var(--border-color);
}

.symbol > .glyph {
  font-size: 60cqw;
  overflow: hidden;
  width: calc(100% + 3rem);
  white-space: nowrap;
}

.symbol > .glyph > input {
  width: 50%;
  font-size: 3rem;
  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
}

.symbol > .copy,
.symbol > .name {
  bottom: 15%;
  font-size: 1rem;
  position: absolute;
  text-wrap: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 80%;
  overflow: hidden;
}
.symbol > .name,
.symbol.clicked > .copy {
  display: block;
}

.symbol.clicked > .name,
.symbol > .copy {
  display: none;
}


.symbol > .glyph > input {
  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
}

.symbol:hover {
  background-color: var(--hover-color);
}

.symbol:hover > .remove:after {
  color: var(--warning-fg-color);
  content: "🗙";
  font-size: 1.0rem;
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
}

.symbol.drag:hover > .remove:after {
    content: "";
}


.clicked {
  background-color: var(--clicked-color) !important;
}
